# Social Hits
### URL
- 디지털/가전 > 주방가전 
    - https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000213
- 화장품/미용 > 클렌징
    - https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000192
- 화장품/미용 > 마스크/팩
    - https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000193
- 화장품/미용 > 색조메이크업
    - https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000195
- 화장품/미용 > 헤어케어
    - https://search.shopping.naver.com/best100v2/detail.nhn?catId=50000198

In [26]:
import urllib
import httplib2
import json
from bs4 import BeautifulSoup,NavigableString
import pandas as pd
from datetime import datetime, timedelta

In [27]:
prd_list = ['50000192','50000193','50000195','50000198','50000213']

In [28]:
def reqeust_naver_shopping(cat_id):
    url = 'https://search.shopping.naver.com/best100v2/detail.nhn?catId=' + cat_id    
    http = httplib2.Http()
    response,content = http.request(url,method="GET")
    soup = BeautifulSoup(content,'html.parser')

    return soup

In [29]:
def munging_data(html):
    itemSections = html.select('._itemSection')
    # itemSections가 썸네일 하나임.
    arranged_items = []
    for i in range(len(itemSections)):
        #dict_one_item = {}
        arr_one_item = []
        prd_nm = itemSections[i].select('a')[1].get_text()
        price = itemSections[i].select('.price')[0].select('.num')[0].get_text().replace(',','')
        #print('rank : {}, 상품명 : {}, 가격 : {}'.format(i,prd_nm,price))
        
        arr_one_item.append(i+1)
        arr_one_item.append(prd_nm)
        arr_one_item.append(price)
        arranged_items.append(arr_one_item)
        
    df_arranged_item = pd.DataFrame(arranged_items)
    df_arranged_item.columns=['rank','prd_nm','price']
    df_arranged_item
    
    return df_arranged_item

#### 100개 상품을 thumbnail 단위로 Munging

In [30]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

In [31]:
for i in range(len(prd_list)):
    cat_id = prd_list[i]
    
    html = reqeust_naver_shopping(cat_id)

    df_munging = munging_data(html)

    df_munging.to_csv(str_today + '_' + cat_id + '.csv', index=False, encoding='utf-8')

In [75]:
from numpy.random import randn

df = pd.DataFrame(randn(10, 2), columns=list('ab'))
df

          a         b
0  0.245428 -1.118921
1 -1.235694  0.686919
2 -0.041870 -0.870093
3 -0.523365  0.843457
4  0.333151  1.506399
5  0.514234 -1.585616
6  0.528020  0.684227
7  0.000408  0.636225
8 -0.771169 -0.308405
9  0.436222 -0.186076

In [76]:
df.query('a > b')
#df[df.a > df.b]  # same result as the previous expression

          a         b
0  0.245428 -1.118921
2 -0.041870 -0.870093
5  0.514234 -1.585616
9  0.436222 -0.186076

In [77]:
df.query('a > 0')

          a         b
0  0.245428 -1.118921
4  0.333151  1.506399
5  0.514234 -1.585616
6  0.528020  0.684227
7  0.000408  0.636225
9  0.436222 -0.186076

### Google Driver에 업로드

In [89]:
import json
import requests
headers = {"Authorization": "Bearer ya29.GlsQBmL0VBDVm8lzrt_DiU2LbrNvgypSuzHEmlF6tmE9WlrNQWMeUCxm1u1lA5FiJucgDdpvFdJUC9Rg3u2evWCaV1GCVVQrChgapdlNoS62iLbjrVKTe4NBXjCA"}
para = {
    "name": "README.md",
    "parents": ["1dogNlUjmiA_OsfvMsj6Jwj3-mHztchMs"]
}
files = {
    'data': ('metadata', json.dumps(para), 'application/json; charset=UTF-8'),
    'file': open("./README.md", "rb")
}
r = requests.post(
    "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
    headers=headers,
    files=files
)
print(r.text)

{
 "kind": "drive#file",
 "id": "1HbdWOSmbyNQ1vDuUZ0s0PNGr_q1upusK",
 "name": "README.md",
 "mimeType": "text/x-markdown"
}